<a href="https://colab.research.google.com/github/afaist/GoogleColab/blob/master/LoadFIlesCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Три способа загрузки файлов в google colab
https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92

## Загрузка из github (меньше 25 Мб)

In [0]:
import pandas as pd

Самый простой способ загрузить файл CSV - из вашего репозитория GitHub. Нажмите на набор данных в вашем хранилище, затем нажмите View Raw. Скопируйте ссылку на набор необработанных данных и сохраните ее как строковую переменную с именем url в Colab, как показано ниже (более чистый метод, но в этом нет необходимости). Последний шаг - загрузить URL-адрес в Pandas read_csv, чтобы получить фрейм данных.

In [0]:
url = 'https://raw.githubusercontent.com/afaist/Learning_Pandas_russian_translation/master/Notebooks/Data/msft.csv'
df1 = pd.read_csv(url)
df1.head()

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

## Загрузка с локального диска
Для загрузки данных с локального диска выполните следующее:

In [0]:
from google.colab import files
uploaded = files.upload()

Saving AmesHousing.csv to AmesHousing (1).csv

При этом появляется кнопка выбора файла. После загрузки файла выполните следующие команды:

In [0]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded["AmesHousing.csv"]))
df2.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

## Загрузка из google drive с помощью PyDrive
Это самый сложный способ загрузки. Сначала выполните следующий код:

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

Далее идет авторизация и подключение диска:

In [0]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

When prompted, click on the link to get an authentication to allow Google to access your Drive. You should see a screen with “Google Cloud SDK wants to access your Google Account” at the top. After you allow permission, copy the given verification code and paste it in the box in Colab.

Once you have completed verification, go to the CSV file in Google Drive, right-click on it and select “Get shareable link”. The link will be copied into your clipboard. Paste this link into a string variable in Colab.

In [0]:
link = 'https://drive.google.com/open?id=1xIytDQq-AERtHyz0hZQVKwzmfzKzYZVR'

What you want is the id portion after the equal sign. To get that portion, type in the following code:

In [0]:
fluff, id = link.split('=')

print (id) # Verify that you have everything after '='

1xIytDQq-AERtHyz0hZQVKwzmfzKzYZVR

Finally, type in the following code to get this file into a dataframe

In [0]:
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
df3 = pd.read_csv('Filename.csv')

# Dataset is now stored in a Pandas Dataframe
df3.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

## Последние мысли

Это три подхода к загрузке файлов CSV в Colab. Каждый из них имеет свои преимущества в зависимости от размера файла и того, как вы хотите организовать рабочий процесс. Как только данные будут представлены в более хорошем формате, таком как Pandas Dataframe, вы готовы приступить к работе.